
/* Constants */ 

*{
	-black: #282922;
	-orange: #F39800;
}

.root {
	
	-fx-font-family: "Cabin";
	-fx-background: -black;
}

/* Labels */ 

.label {
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.tlabel {
	-fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.mlabel {
	-fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.ilabel {
	-fx-font-size: 14pt;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

.divider-label {
	-fx-font-size: 20pt;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

.ingredient-label {
	-fx-font-size: 12pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

/* Tooltips */

.tooltip {
	-fx-font-size: 10pt;
    -fx-font-weight: normal;
    -fx-text-fill: white;
}

/* Textfields */

.text-field {
	-fx-text-fill: white;
  	-fx-background-color: transparent;
  	-fx-background-radius: 0,0,0;
  	-fx-border-color: white;
  	-fx-font-size: 15pt;
	-fx-max-width: 120pt;
}

/* Regular buttons */

.button {
	-fx-font-size: 15pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
  	-fx-background-color: transparent;
  	-fx-border-color: white;
}

.button:hover {
    -fx-background-color: white;
    -fx-text-fill: -black;
}

.ybutton {
	-fx-text-fill: -orange;
	-fx-font-weight: bold;
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
}

.ybutton:hover {
    -fx-background-color: -orange;
    -fx-text-fill: -black;
}

.xbutton {
	-fx-background-color: transparent;
  	-fx-border-color: transparent;
  	-fx-min-height: 12pt;
    -fx-min-width: 12pt;
    -fx-max-height: 12pt;
    -fx-max-width: 12pt;
}

.xbutton-h {
	-fx-background-color: transparent;
  	-fx-border-color: transparent;
  	-fx-background-image: url('/assets/buttons/x2-h.png');
    -fx-background-size: 12pt 12pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 12pt;
    -fx-min-width: 12pt;
    -fx-max-height: 12pt;
    -fx-max-width: 12pt;
}

.xbutton-h:hover {
	-fx-background-color: transparent;
  	-fx-border-color: transparent;
  	-fx-background-image: url('/assets/buttons/x2.png');
    -fx-background-size: 12pt 12pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-min-height: 12pt;
    -fx-min-width: 12pt;
    -fx-max-height: 12pt;
    -fx-max-width: 12pt;
}

.menuitem {
  	-fx-background-color: transparent;
  	-fx-border-color: white;
  	-fx-pref-height: 62pt;
    -fx-pref-width: 160pt;
}

.menuitem-title {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15pt;
}

.menuitem-title-h {
	-fx-text-fill: -black;
	-fx-font-weight: bold;
	-fx-font-size: 15pt;
}

.menuitem-text {
	-fx-text-fill: white;
	-fx-font-weight: normal;
	-fx-font-size: 10pt;
}

.menuitem-text-h {
	-fx-text-fill: -black;
	-fx-font-weight: normal;
	-fx-font-size: 10pt;
}

.cartitem {
  	-fx-background-color: transparent;
  	-fx-border-color: transparent;
    -fx-pref-width: 160pt;
    -fx-border-style: none;
}

.cartitem:hover {
  	-fx-background-color: white;
  	-fx-border-color: transparent;
    -fx-pref-width: 160pt;
    -fx-border-style: none;
}

.cartitem-text {
	-fx-text-fill: white;
	-fx-font-weight: normal;
	-fx-font-size: 11pt;
}


.cartitem-text-h {
	-fx-text-fill: -black;
	-fx-font-weight: normal;
	-fx-font-size: 11pt;
}

/* Icon buttons */

.ibutton-lic {
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
  	-fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
    -fx-background-image: url('/assets/buttons/license-y.png');
    -fx-background-size: 18pt 12pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.ibutton-lic:hover {
	-fx-background-color: -orange;
  	-fx-border-color: -orange;
  	-fx-background-image: url('/assets/buttons/license-b.png');
    -fx-background-size: 18pt 12pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
}

.ibutton-plus {
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
  	-fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
    -fx-background-image: url('/assets/buttons/plus-y.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.ibutton-plus:hover {
	-fx-background-color: -orange;
  	-fx-border-color: -orange;
  	-fx-background-image: url('/assets/buttons/plus-b.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
}

.ibutton-minus {
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
  	-fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
    -fx-background-image: url('/assets/buttons/minus-y.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.ibutton-minus:hover {
	-fx-background-color: -orange;
  	-fx-border-color: -orange;
  	-fx-background-image: url('/assets/buttons/minus-b.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
}

.ibutton-net {
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
  	-fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
    -fx-background-image: url('/assets/buttons/net-y.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.ibutton-net:hover {
	-fx-background-color: -orange;
  	-fx-border-color: -orange;
  	-fx-background-image: url('/assets/buttons/net-b.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
}

.ibutton-refresh {
  	-fx-background-color: transparent;
  	-fx-border-color: -orange;
  	-fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
    -fx-background-image: url('/assets/buttons/refresh-y.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.ibutton-refresh:hover {
	-fx-background-color: -orange;
  	-fx-border-color: -orange;
  	-fx-background-image: url('/assets/buttons/refresh-b.png');
    -fx-background-size: 18pt 18pt;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-pref-height: 30pt;
    -fx-pref-width: 30pt;
}

/* Toggle buttons */

.toggle-button {
    -fx-font-size: 15pt;
	-fx-text-fill: white;
	-fx-font-weight: bold;
  	-fx-background-color: transparent;
  	-fx-border-color: white;
  	-fx-pref-width: 120pt;
}

.toggle-button:selected {
    -fx-background-color: white;
    -fx-text-fill: -black;
}

.toggle-button:hover {
    -fx-background-color: white;
    -fx-text-fill: -black;
}

.cbutton {
  	-fx-background-color: transparent;
  	-fx-border-color: white;
  	-fx-pref-width: 160pt;
}

.cbutton:selected {
    -fx-background-color: white;
    -fx-text-fill: -black;
}

.cbutton:hover {
    -fx-background-color: white;
    -fx-text-fill: -black;
}

.tbutton {
	-fx-text-fill: white;
	-fx-font-weight: bold;
  	-fx-background-color: transparent;
  	-fx-border-color: white;
  	-fx-pref-height: 62pt;
    -fx-pref-width: 62pt;
}

.table-number {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 20pt;
}

.table-name {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 10pt;
}

.table-name-h {
	-fx-text-fill: -black;
	-fx-font-weight: bold;
	-fx-font-size: 10pt;
}

.table-number-h {
	-fx-font-size: 20pt;
	-fx-text-fill: -black;
	-fx-font-weight: bold;
}

/* Scrolls */

.scroll-pane {
  	-fx-border-color: transparent;
  	-fx-background-color: transparent;
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}
